:root {
  --primary-color: #212121;
  --text-color: #757575;
  --secondery-color: #2196f3;
  --white-color: #ffffff;
  --footer-background-color: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*header*/
.header {
  color: var(--primary-color);
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}
.header .logo {
  color: var(--secondery-color);
}

.haeder-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.haeder-link:hover,
.haeder-link:focus {
  color: var(--secondery-color);
}

.active {
  color: var(--secondery-color);
  border-bottom: 4px solid var(--secondery-color);
}

/*footer*/
.footer {
  color: var(--white-color);
  background-color: var(--footer-background-color);
}

.footer-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer .logo {
  color: var(--secondery-color);
}

.footer-addres {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-link {
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--secondery-color);
}

.footer-copy {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;

  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
